.nav{
  width: 3%;
  margin-left: 93%;
  position: absolute;
  font-size: 25px;
}
.main h3{
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.clue2 h3{
  position: absolute;
  background-color: rgb(98, 244, 244);
}

.doc3{
  text-align: justify;
  margin-left: 2%;
}
.clue3{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 5px;
    grid-gap: 5px;
}
.clue3 img{
    margin-top: 50%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 58%;
    left: 45%;
    width: 8%;
    height: 8%;
    cursor: pointer;
  }
  .overlay2 {
    position: absolute;
    top: 63%;
    left: 22%;
    width: 8%;
    height: 8%;
    cursor: pointer;
  }
 
.item1{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 2%;
}

.final{
  margin-top: 10%;
  margin-left: 18%;
}
